<section class="product-navigation">
	<a href="//Qolty.com/compliance" class="left">&lsaquo;</a>
	<span class="span-left">Compliance Home</span>
	<span class="quote">&copy; Qolty, Inc. 2015</span>
	<a href="//policy.Qolty.com" class="right">&rsaquo;</a>
	<span class="span-right">Open Source Policies</span>
</section>